<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML to Python Communication</title>
</head>
<body>

    
    {% if prediction %}
        <h1>{{ prediction }}</h1>
    {% endif %}
    
    <form action="/train" method="get">
        <input type="text" id="inputData" placeholder="Enter data">
        <input type="submit" value="Train">
    </form>


    <form action="/inference" method="post" enctype="multipart/form-data">
        <label for="image">Choose an image:</label>
        <input type="file" id="image" name="image" accept="image/*" required>
        <br>
        <input type="submit" value="Upload and Perform Inference">
    </form>

</body>
</html>
